.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: auto;
  height: auto;
  margin:0 auto;
  overflow: hidden;
}

@font-face {
  font-family: myFirstFont;
  src: url(./YouSheBiaoTiHei-2.ttf);
}

.box_1 {
  height: auto;
  background: url(./img/MasterDDSSlicePNG8b5c4e166169d619084d8e78050d64c2.png)
    100% no-repeat;
  background-size: 100% 100%;
  min-width: 350;
  margin:0 0 0 0;
}

.block_1 {
  background-color: rgba(25, 18, 33, 0.63);
  width: 100%;
  height: auto;
  margin:0 auto;
}

.text_1 {
  font-family: myFirstFont;
  width: 700px;
  height: 162px;
  overflow-wrap: break-word;
  color: rgba(175, 141, 141, 1);
  font-size: 64px;
  font-weight: NaN;
  text-align: left;
  line-height: 83px;
  margin: 315px auto 0 auto;
}

.image-wrapper_1 {
  background-color: rgba(181, 173, 137, 0.21);
  border-radius: 50%;
  height: 83px;
  width: 83px;
  margin: 280px auto 113px auto;
}

.label_1 {
  width: 30px;
  height: 30px;
  margin: 27px 0 0 29px;
}
