.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 71.12vw;
  overflow: hidden;
}

.group_1 {
  height: 71.12vw;
  background: url(./img/MasterDDSSlicePNG6b219d2c447662eeb8571362e3b69e21.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 100vw;
}

.block_1 {
  background-color: rgba(25, 18, 33, 0.63);
  width: 100vw;
  height: 71.12vw;
  justify-content: flex-center;
}

.text_1 {
  width: 13.34vw;
  height: 11.25vw;
  overflow-wrap: break-word;
  color: rgba(175, 141, 141, 1);
  font-size: 4.44vw;
  font-family: YS HelloFont BangBangTi-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 5.77vw;
  margin: 7.91vw 0 0 43.33vw;
}

.image-wrapper_1 {
  background-color: rgba(238, 238, 238, 1);
  height: 38.89vw;
  width: 71.12vw;
  margin: 5.2vw 0 7.84vw 14.44vw;
}

.image_1 {
  width: 3.96vw;
  height: 3.96vw;
  margin: 17.5vw 0 0 33.61vw;
}
