.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  margin:0 auto;
}

.text_1 {
  width: auto;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(61, 61, 61, 1);
  font-size: 25px;
  font-family: HarmonyOS Sans-Bold;
  font-weight: 650;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin: 0 auto;
}

.image-wrapper_1 {
  width: auto;
  max-width:350px;
  height: 338px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.image_1-0 {
  width: auto;
  max-width:170px;
  height: 164px;
  margin: 0 5px 5px 0;
}

.image_1-1 {
  width: auto;
  max-width:170px;
  height: 164px;
  margin: 0 5px 5px 0;
  margin-right: 0;
}

.image_1-2 {
  width: auto;
  max-width:170px;
  height: 164px;
  margin: 0 5px 5px 0;
  margin-bottom: 0;
}

.image_1-3 {
  width: auto;
  max-width:170px;
  height: 164px;
  margin: 0 5px 5px 0;
  margin-right: 0;
  margin-bottom: 0;
}

.list_1 {
  width: 411px;
  height: 585px;
  justify-content: space-between;
  margin: 12px 0 63px 10px;
}

.text-group_1-0 {
  max-width:340px;
  width: auto;
  height: 187px;
  border: 1.5px solid rgba(242, 242, 242, 1);
  justify-content: flex-center;
  margin: 0 auto;
  border-radius: 20px;
}

.text_2-0 {
  width: 254px;
  height: 35px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin: 26px 0 0 7px;
}

.text_3-0 {
  width: auto;
  height: 92px;
  overflow-wrap: break-word;
  color: rgba(26, 26, 26, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 23px;
  margin: 8px 0 26px 7px;
}

.text-group_1-1 {
  max-width:340px;
  height: 187px;
  border: 1.5px solid rgba(242, 242, 242, 1);
  justify-content: flex-center;
  margin: 0 auto;
  border-radius: 20px;
}

.text_2-1 {
  width: auto;
  height: 35px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin: 26px 0 0 7px;
}

.text_3-1 {
  width: auto;
  height: 92px;
  overflow-wrap: break-word;
  color: rgba(26, 26, 26, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 23px;
  margin: 8px 0 26px 7px;
}

.text-group_1-2 {
  max-width:340px;
  width: auto;
  height: 187px;
  border: 1.5px solid rgba(242, 242, 242, 1);
  justify-content: flex-center;
  margin: 0 auto;
  border-radius: 20px;
}

.text_2-2 {
  width: auto;
  height: 35px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin: 26px 0 0 7px;
}

.text_3-2 {
  width: auto;
  height: 92px;
  overflow-wrap: break-word;
  color: rgba(26, 26, 26, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 23px;
  margin: 8px 0 26px 7px;
}
