.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  margin:0 auto;
}

.section_1 {
  width: auto;
  max-width:350px;
  height: 915px;
  margin: 0 auto;
}

.group_1 {
  width: auto;
  max-width:350px;
  height: 119px;
}

.text_1 {
  width: 374px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(61, 61, 61, 1);
  font-size: 30px;
  font-family: HarmonyOS Sans-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin: 10px 0 0 10px;
}

.box_1 {
  width: 220px;
  height: 32px;
  margin: 10px 0 19px 15px;
}

.single-avatar_1 {
  width: 32px;
  height: 32px;
}

.text_2 {
  width: 32px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(61, 61, 61, 1);
  font-size: 12px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 8px 0 0 10px;
}

.icon_1 {
  width: 20px;
  height: 20px;
  margin: 9px 0 0 10px;
}

.text_3 {
  width: 106px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(61, 61, 61, 1);
  font-size: 12px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 10px 0 0 10px;
}

.text-wrapper_1 {
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 10px;
  height: 797px;
  width: auto;
  max-width:350px;
  margin: 118px 15px 0 -415px;
}

.text_4 {
  width: 371px;
  height: 762px;
  overflow-wrap: break-word;
  color: rgba(61, 61, 61, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 29px;
  margin: 18px 0 0 15px;
}
