.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 430px;
  height: 932px;
  overflow: hidden;
}

.box_1 {
  width: 931px;
  height: 430px;
  margin: 1px 0 0 430px;
}

.box_2 {
  background-color: rgba(238, 238, 238, 1);
  width: 931px;
  height: 430px;
}

.image-wrapper_1 {
  width: 57px;
  height: 57px;
  margin: 8px 0 436px 187px;
}

.icon_1 {
  width: 57px;
  height: 57px;
}
